/* Regras Gerais */

* {
    margin: 0;
    padding: 0;
    list-style: none; 
    color: #FFFFFF; 
}

body{
    max-width: 100%;
    background-image: url(/img/Netflix-background_860c8ece6b34fb4f43af02255ca8f225-xl.jpg);
    background-repeat: no-repeat;
}

button {
    background-color: #E50914;
    color: #FFFFFF;
}

 /* MENU DE NAVEGAÇÃO*/

.menu-navigation {
    display: flex;
    padding-top: 2%;
    flex-flow: row nowrap;
    margin-left: 56px;
    margin-right: 56px;
}

.logo {
    width: 130px;
    background-color: black; 
    margin-right: 82%;
}

.entrar-superior {
   display: block;
   width: 55px;
   height: 25px;
   border-radius: 5px;
   background-color: #E50914;
   text-align: center;
   text-decoration: none;
   padding: 9px 15px 2px;
}

.btn-entrar {
   font-size: 1rem;
   font-weight: 400;
   font-family:Arial, Helvetica, sans-serif;
}

/* medias Menu de Navegação */

@media (max-width: 1024px) {
    
    .logo {
    width: 130px;
    background-color: black; 
    margin-right: 77%;
    }
}

@media (max-width: 768px) {
    
    .logo {
        width: 130px;
        background-color: black; 
        margin-right: 70%;
    }
}

@media (max-width: 540px) {

    .menu-navigation {
        padding-top: 3%;
        margin-left: 37px;
        margin-right: 37px;
    }
    
    .logo {
        width: 125px;
        background-color: black; 
        margin-right: 57%;
    }
}

@media (max-width: 414px) {

    .menu-navigation {
        padding-top: 3%;
        margin-left: 37px;
        margin-right: 37px;
    }
    
    .logo {
        width: 120px;
        background-color: black; 
        margin-right: 42%;
    }
}

@media (max-width: 375px) {

    .menu-navigation {
        padding-top: 3%;
        margin-left: 35px;
        margin-right: 35px;
    }
    
    .logo {
        width: 100px;
        background-color: black; 
        margin-right: 43%;
    }
}

@media (max-width: 320px) {

    .menu-navigation {
        padding-top: 3%;
        margin-left: 32px;
        margin-right: 32px;
    }
    
    .logo {
        width: 88px;
        background-color: black; 
        margin-right: 38%;
    }
}

@media (max-width: 280px) {

    .menu-navigation {
        padding-top: 3%;
        margin-left: 25px;
        margin-right: 28px;
    }
    
    .logo {
        width: 88px;
        background-color: black; 
        margin-right: 27%;
    }
}


/* Corpo */










